
body {
    background-image: url("images/background-image.jpg");
    max-width: 980px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

main {     
    background-color: white;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px;    
}

header{
    background-image: radial-gradient(white,rgb(53, 242, 53));    
    display: flex;
    align-items: center; 
    justify-content: space-around;      
}
header img{
    max-width: 150px;
}
#raspberryPi img{
    width: 320px;
}

table {
    padding: 5px;
    border: 2px solid white;
    background-color: rgb(233, 235, 235);
    text-align: center;
    border-radius: 5px;
}
table{
    width: 480px;    
}

#memory .value, #disk .value {
    text-align: right;    
}
table td, table th{
    padding: 5px;
}
#actions{
    width: 340px;
    min-width: 320px;
    position: relative;
}
#shutdown{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 980px;
    min-width: 320px;
    padding: 15px 0px 15px 0px;    
}

