
body {
    background-image: url("images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 980px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

main {     
    background-color: white;   
    font-family: "JetBrains Mono",monospace;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px;    
}

header{
    background-color: #78f4b5;
    color: #0c8079;    
    display: flex;
    align-items: center; 
    justify-content: space-around;
    box-shadow: inset 1px -1px 9px 2px rgba(0, 0, 0, 0.364);
    height: 200px;
}
header h1{
    text-shadow: 0px 5px 10px white;       
}
header img{
    max-width: 150px;
}

#raspberryPi img{
    width: 320px;
    display: block;
    margin: auto;    
    box-shadow: 10px 10px white;
}
#raspberryPi h3{
    text-align: center;
}

table {
    padding: 5px;
    border: 2px solid white;
    background-color: #e9ebeb;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.364);
    margin: 10px;
    width: 450px;
}
#memory .value, #disk .value {
    text-align: right;    
}
table td, table th{
    padding: 5px;
}
.value{
    font-size: 35px;
    font-weight: bold;
}
#actions{
    width: 340px;
    min-width: 320px;
    position: relative;
    font-size: 1.5em;
}
#shutdown{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 980px;
    min-width: 320px;
    padding: 15px 0px 15px 0px;    
}

button, input{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #2f7f79 0, #0c8079 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;  
  height: 48px;
  width: 125px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 5px;
}

button:focus, input:focus {
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px;
}

button:hover, input:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px;
  transform: translateY(-4px);
}
button:active, input:active {
  box-shadow: #28fa91 0 3px 7px inset;
  transform: translateY(4px);
}

input{
    background-image: radial-gradient( #fff 0, #fff 100%);
    color: #000;
}