<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indoor Farm Management</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/images/favicon-32x32.png" type="image/x-icon">
    <script src="../static/script.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1>Welcome to my indoor farm management</h1>
        <img src="../static/images/indoorfarmerlogo.png" alt="Logo" id="headerGif">
    </header>
    <main>
        <div id="farm_board">
            <table id="table_board">
                <thead>
                    <tr>
                        <th colspan="5"> Farm Board</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Routine</td>
                        <td>ON</td>
                        <td><span class="circle" id="RoutineOnGreenLight"></span></td>
                        <td>OFF</td>
                        <td><span class="circle Off" id="RoutineOffRedLight"></span></td>
                    </tr>
                    <tr>
                        <td>Light</td>
                        <td>ON</td>
                        <td><span class="circle" id="LightOnGreenLight"></span></td>
                        <td>OFF</td>
                        <td><span class="Off circle" id="LightOffRedLight"></span></td>
                    </tr>
                    <tr>
                        <td>Water Pump</td>
                        <td>ON</td>
                        <td><span class="circle" id="WaterOnGreenLight"></span></td>
                        <td>OFF</td>
                        <td><span class="Off circle" id="WaterOffRedLight"></span></td>
                    </tr>
                    <tr>
                        <td>Fan</td>
                        <td>ON</td>
                        <td><span class="circle" id="FanOnGreenLight"></span></td>
                        <td>OFF</td>
                        <td><span class="Off circle" id="FanOffRedLight"></span></td>
                    </tr>
                </tbody>
            </table>           
        </div>
        <div id="raspberryPi">
            <p id="Monitor">Raspberry Pi Monitor</p>
            <img src="../static/images/raspberry_pi.png" alt="Raspgif">
            <table id="CPU">
                <thead>
                    <tr>
                        <th colspan="2">CPU stats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="utilization">CPU Utilization</td>
                        <td class="value">{{cpu_percent}}%</td>
                    </tr>
                    <tr>
                        <td id="frequency">CPU Frequency</td>
                        <td class="value">{{cpu_freq}}Hz</td>
                    </tr>
                    <tr >
                        <td id="temperature">Temperature</td>
                        <td class="value">{{sensor_temperatures}}°C</td>
                    </tr>
                </tbody>
            </table>
            <table id="memory">
                <thead>
                    <tr>
                        <th colspan="2">Memory Stats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Memory</td>
                        <td>Memory Used</td>
                    </tr>
                    <tr>
                        <td class="value">{{cpu_mem_total}}mb</td>
                        <td class="value">{{cpu_mem_used}}mb</td>
                    </tr>
                </tbody>
            </table>
            <table id="disk">
                <thead>
                    <tr>
                        <th colspan="2"> Disk Stats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Disk Space</td>
                        <td>Disk Used</td>
                    </tr>
                    <tr>
                        <td class="value">{{disk_usage_total}}GB</td>
                        <td class="value">{{disk_usage_used}}GB</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="actions">
            <p id="Actions">Actions</p>
            Set Routine: <br>                   
            <input type="time" id="TurnOnTime" name="TurnOnTime" value="07:00" placeholder="07:00">
            <input type="time" id="TurnOffTime" name="TurnOffTime" value="23:00">            
            <br><br>
            Turn Routine: <br>          
            <button id='RoutineOn'>On</button>
            <button id='RoutineOff'>Off</button>            
            <br><br>
            Turn Light: <br>          
            <button id='LightOn'>On</button>
            <button id='LightOff'>Off</button>            
            <br><br>
            Water Plant: <br>
            <button id='WaterOn'>On</button>
            <button id='WaterOff'>Off</button>
            <br><br>
            Turn Fan: <br>
            <button id='FanOn'>On</button>
            <button id='FanOff'>Off</button>
            <br><br>
            
        </div>
        <div id="raspPibtn">  
            <button id='rebootbtn'>Reboot</button>                 
            <button id='shutdownbtn'>Shut down</button>
        </div>
    </main>
    <footer>
        <h6>&copy; &nbsp;&nbsp; Copyright Leonardo dos Santos Nunes</h6> 
    </footer>
</body>
</html>    